In [ ]:
# https://medium.com/@robertopreste/from-xml-to-pandas-dataframes-9292980b1c1c

In [1]:
import xml.etree.ElementTree as et 

xtree = et.parse("ead_DE-1a_4273.xml")
xroot = xtree.getroot()

In [6]:
import pandas as pd 
import xml.etree.ElementTree as et 

xtree = et.parse("ead_DE-1a_4273.xml")
xroot = xtree.getroot() 

df_cols = ["level", "title", "id"]
rows = []
for node in xroot: 
    level = node.attrib.get("level") if node is not None else None
    unittitle = node.find("did") if node is not None else None
    
    
    rows.append({"level": level, "did": unittitle})

out_df = pd.DataFrame(rows, columns = df_cols)

In [7]:
out_df

        level  title  id
0        None    NaN NaN
1  collection    NaN NaN